@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Titillium+Web:wght@300;400;600;900&display=swap');

*{
  margin: 0px;
  padding: 0px;    
  box-sizing: border-box;
}
:root{
  --mainColor: #fea44d;
  --mainColorLight: #5fc2e2;
  --secondaryColor: #0d264e;
  --textColor: #eee;
}


.logo {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 100px;
}

.items {
  display:flex;
  justify-content: space-around;
  margin-top: 40px;
  
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem 2.5rem;
  color: var(--textColor);
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s all ease;

  &:hover{
    color: var(--textColor);
    background-color: var(--mainColor);
    transition: 0.5s all ease;
  }
}

.navbar{
  background-color: var(--mainColorLight);
}
.welcome h1{
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin-top: 25px;

}
.modalInvisible {
  display: none;
}

.modalVisble {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information{
  border-radius: 1px;
  
}
.information form{
  text-align: center;
  margin-top: 30px;
}
.information form input{
  border-radius: 5px;
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right:10px ;
}

@media (max-width:920px){
  .items{
    display: grid;
    margin: 0px;
    font-size: x-small;
    color: var(--textColor);
    font-family: 'Nunito', sans-serif;
    margin-left: 200px;

  }
  li{
    &:hover{
      color: var(--textColor);
      background-color: var(--mainColor);
      transition: 0.5s all ease;
    }
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 120px;
    
  }
 
}








